<mat-card class="carda">
    <div class="g2">
        <button mat-icon-button color="primary">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    </div>
    <div class="hu">
        <div class="af">
            Informe o código que você recebeu em seu ?????
        </div>

        <div style="display: grid; align-items: center;">
            <div class="cscs">
                <div class="ain">
                    <input class="ads" type="tel">
                </div>

                <div class="ain">
                    <input class="ads" type="tel">
                </div>

                <div class="ain">
                    <input class="ads" type="tel">
                </div>

                <div class="ain">
                    <input class="ads" type="tel">
                </div>
            </div>
        </div>


        <div>
            <button class="btc" mat-flat-button color="warn" routerLink="/registration/data">Continuar</button>
        </div>
    </div>



</mat-card>
