.intro {
    background-color: red;
}

.arrowLojasNext {
    display: none;
}

.arrowLojasPrev {
    display: none;
}

.ffilt {
    padding: 23px;
    padding-bottom: 3px;
}

.imgcaroudist {
    width: 422px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 422px 200px;
    border-radius: 2%;
}

.imgcarou {
    width: 123px;
    height: 93px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 123px 93px;
    border-radius: 2%;
}

.dist {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.loja:hover {
    border: 1px solid #a5a5a5c2;
}

.loja {
    border: 1px solid #e5e3e3c2;
    width: 400px;
    display: grid;
    grid-template-columns: 0fr 1fr;
    gap: 5px;
    padding: 10px;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    text-decoration: none;
    color: #2196F3;
}

.areaStores {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.logoStore {
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px 80px;
    border-radius: 50%;
}

.desc2 {
    font-size: 12px;
    color: rgb(124, 124, 124);
}

.desc1 {
    font-weight: 600;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.desc3 {
    margin-top: 20px;
    color: rgb(124, 124, 124);
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.logo {
    padding-left: 10px;
}

.descricao {
    border-left: 1px solid #e4e4e4;
    padding-left: 15px;
    margin-left: 15px;
}

.d {
    font-size: 18px;
    font-weight: 600;
    padding-left: 20px;
    margin-top: 20px;
}

.too {
    height: 81px;
    background-color: #000000;
    display: grid;
    align-items: center;
    grid-template-columns: 1.2fr 1fr;
    position: fixed;
    z-index: 10;
    border-bottom: 1px solid white;
    /*-webkit-box-shadow: 9px 7px 5px rgb(50 50 50 / 77%);
    -moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow: 1px 2px 5px rgb(255 255 255);*/
}

.t1 {
    display: grid;
    grid-template-columns: 1.2fr 3fr 1fr;
    align-items: center;
    padding-right: 10px
}

.t2 {
    text-align: end;
}

.ender {
    text-align: center;
    padding-left: 10px;
    color: white;
    font-size: 12px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 3px;
    margin-left: 6px;
}

.iseff {
    height: 55px;
    background: #00000000;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding-left: 15px;
}

.a {
    margin-top: 44px;
}

.gg {
    color: #b19919;
}

.afot {
    padding: 50px;
}

.fot {
    display: grid;
    grid-template-columns: 0fr 1fr;
    gap: 20px;
    font-size: 15px;
    align-items: center;
    align-content: center;
    text-align: left;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #e6e2e2;
    color: #777777;
}

.htcont {
    height: 88vh;
    overflow: auto;
}

.fotDeac {
    font-size: 12px;
    color: darkgrey;
}

.itemClosed {
    /* position: absolute; */
    background: #00000094;
    height: 100%;
    display: grid;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    font-weight: 600;
    color: white;
}

.pindow {
    display: grid;
    grid-template-columns: 0fr 1fr;
    gap: 10px;
    align-items: center;
    align-content: center;
    background: #f2f2f2;
    border-radius: 7px;
    width: 420px;
}

.showDESC {
    display: block;
}

.showCELL {
    display: none;
}

.logomobal {
    display: none;
}

.pccc {
    color: white;
    margin-right: 10px;
}

@media (max-width:600px) {
    .pccc {
        color: red;
    }
    .logomobal {
        display: block;
    }
    .logodesktop {
        display: none;
    }
    .areaStores {
        grid-template-columns: 1fr;
        margin: 10px;
    }
    .showDESC {
        display: none;
    }
    .showCELL {
        display: block;
    }
    .pindow {
        display: grid;
        border-radius: 0px;
        width: 99.7%;
        margin: auto;
        margin-top: 0px;
    }
    .htcont {
        height: 78.7vh;
    }
    .too {
        background-color: white;
        grid-template-columns: 40fr 8fr;
    }
    .ender {
        color: #000000;
        text-decoration: none;
        font-size: 17px;
        display: grid;
        align-items: center;
        align-content: center;
        grid-template-columns: 1fr;
        text-align: left;
        margin: 0;
        padding: 0;
    }
    .imgcaroudist {
        width: 350px;
        height: 163px;
        background-size: 100% 100%;
    }
    .carouselLOJAS {
        display: none;
    }
    .dist {
        margin-top: 34px;
        margin-bottom: 0px;
        padding-left: 4px;
        padding-right: 2px;
    }
    .ccel {
        display: block;
        background: #ececec;
        margin-right: 5px;
        color: #2196f3;
    }
    .t1 {
        display: grid;
        grid-template-columns: 1fr 10fr;
        text-align: left;
        margin-left: 16px;
    }
    .a {
        margin-top: 14px;
    }
}
