<div class="allcont" [formGroup]="form">
    <div class="too">
        <div class="t1">
            <!--<div class="logo">
                <img class="logodesktop" style="width: 80px;" src="./assets/images/others/logo.png" alt="" srcset="">
                <img class="logomobal" style="width: 80px;" src="./assets/images/others/logoWhite.png" alt="" srcset="">
            </div>-->
            <mat-icon class="mat-18 pccc">person_pin_circle</mat-icon>

            <a href="javascript:;" style="text-decoration: none;" class="ender" (click)="seleionarEndereco()">
                <div>{{ cidade }}</div>
                <div>{{ bairro }}</div>
            </a>

            <span class="showDESC">
      <div class="pindow">
        <div style="margin-left: 15px;display: flex;">
          <mat-icon style="color: rgb(230, 24, 24);" class="mat-18">store</mat-icon>
        </div>
        <input formControlName="filtroEmpresa" class="iseff" placeholder="Buscar loja">
      </div>
    </span>

        </div>
        <div class="t2">
            <button mat-button color="accent" class="ccel" routerLink="/entrar">Entrar</button>
        </div>
    </div>

    <div style="height: 80px;">

    </div>

    <div class="showCELL">
        <div class="pindow">
            <div style="margin-left: 15px;display: flex;">
                <mat-icon style="color: rgb(230, 24, 24);" class="mat-18">store</mat-icon>
            </div>
            <input class="iseff" placeholder="Buscar loja" formControlName="filtroEmpresa">
        </div>
    </div>

    <div class="htcont">


        <div class="a">
            <div *ngIf="caixaItens" class="b">

                <span *ngIf="!statusLoader">
        <carousel [height]="100" [cellWidth]="150" style="z-index: 1;">
          <div class="carousel-cell" *ngFor="let item of itens">
            <div class="imgcarou" [defaultImage]="servico.defaultImage" [lazyLoad]="item.imagem">
              <ngx-skeleton-loader animation="progress" [theme]="{
                'border-radius': '5px',
                height: '100%',
                'background-color': '#d8d8d8'
              }"></ngx-skeleton-loader>
            </div>
          </div>
        </carousel>
      </span>

                <span *ngIf="statusLoader">
        <carousel [height]="100" [cellWidth]="150" style="z-index: 1;">
          <div class="carousel-cell" *ngFor="let item of this.servico.getCategoriasEmpresa()"
            (click)="filtroPorItens(item)">
            <div class="imgcarou" [defaultImage]="servico.defaultImage" [lazyLoad]="item.imagem"></div>
          </div>
        </carousel>
      </span>

            </div>
            <div class="dist" *ngIf="caixaDestaques">

                <span *ngIf="!statusLoader">
        <carousel [height]="200" [cellWidth]="422" style="z-index: 1;">
          <div class="carousel-cell" *ngFor="let item of this.destaques">
            <div class="imgcaroudist" [defaultImage]="servico.defaultImage" [lazyLoad]="item.imagem">
              <ngx-skeleton-loader animation="progress" [theme]="{
                'border-radius': '5px',
                height: '100%',
                width: '100%',
                'background-color': '#d8d8d8'
              }"></ngx-skeleton-loader>
            </div>
          </div>
        </carousel>
      </span>

                <span *ngIf="statusLoader">
        <carousel [height]="200" [cellWidth]="422" style="z-index: 1;">
          <div class="carousel-cell" *ngFor="let item of this.servico.getDestaques()">
            <div (click)="consultaEmpresas(item)" class="imgcaroudist" [defaultImage]="servico.defaultImage" [lazyLoad]="item.imagem"></div>
          </div>
        </carousel>
      </span>


            </div>

            <div class="c">
                <div class="d"> {{ servico.descLoader }} </div>



                <carousel class="carouselLOJAS" style="z-index: 1;" [cellWidth]="'100%'" [arrows]="arrowStatusLojas" [height]="heightCarrou">

                    <div class="carousel-cell">
                        <div class="ffilt">
                            <div style="width: 100%;">
                                <mat-chip-list>
                                    <mat-chip *ngIf="filtro" (click)="onClickCancelFilterTag()" style="background: var(--teal); color: white;">
                                        {{filtro}}
                                        <mat-icon matChipRemove>cancel</mat-icon>
                                    </mat-chip>

                                    <mat-chip *ngIf="filtro2" (click)="cacelarFiltro2()" style="background: orange; color: white;">
                                        {{filtro2}}
                                        <mat-icon matChipRemove>cancel</mat-icon>
                                    </mat-chip>
                                </mat-chip-list>
                            </div>
                        </div>
                        <div class="areaStores ">
                            <app-icone-loja *ngFor="let loja of lojas" [item]="loja"></app-icone-loja>
                        </div>

                    </div>

                    <div class="carousel-cell">

                        <div class="areaStores ">
                            <app-icone-loja *ngFor="let loja of lojasFiltradas | filterId:this.form.controls.filtroEmpresa.value" [item]="loja"></app-icone-loja>
                        </div>

                    </div>


                </carousel>

                <div class="areaStores showCELL">
                    <div style="width: 100%;">
                        <mat-chip-list>
                            <mat-chip *ngIf="filtro" (click)="onClickCancelFilterTag()" style="background: var(--teal); color: white;">
                                {{filtro}}
                                <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip>

                            <mat-chip *ngIf="filtro2" (click)="cacelarFiltro2()" style="background:rgb(185, 16, 45); color: white;">
                                {{filtro2}}
                                <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip>

                        </mat-chip-list>
                    </div>
                    <app-icone-loja *ngFor="let loja of lojas | filterId:this.form.controls.filtroEmpresa.value | orderBy: 'status_delivery:':true" [item]="loja"></app-icone-loja>
                </div>


            </div>

        </div>

        <div class="afot">
            <div class="fot">
                <div class="logo">
                    <img style="width: 80px;" src="./assets/images/others/logo.png" style="border-radius: 5px;
                    width: 45px;">
                </div>
                <div class="fotDeac">
                    {{ servico.descFotter }}
                </div>
            </div>
        </div>
    </div>
</div>