.a {
    display: flex;
    gap: 6px;
    align-items: center;
    margin-bottom: 17px;
    color: #797978;
    justify-content: space-between;
}

.aa {
    display: flex;
    gap: 6px;
    align-items: center;
}

.item {
    border-top: 1px solid #ece9e9;
    margin-top: 0px;
    padding-top: 20px;
    margin-bottom: 27px;
    font-size: 12px;
}