.cc0 {
    min-height: 85%;
    overflow: auto;
    max-height: 99%;
}

.ffo {
    padding-top: 20px;
    border-top: 1px solid #f5eded;
    text-align: end;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    justify-content: flex-end;
}

.aitensadc {
    background-color: #fdf7f7;
    /*overflow: auto;*/
}

.boxoc {
    margin-top: 20px;
}

.example-full-width {
    width: 96%;
    margin-left: 10px;
}

.itemadc {
    display: flex;
    padding: 8px;
    justify-content: space-between;
    margin-top: 2px;
    padding-bottom: 3px;
    padding-top: 0px;
    margin-bottom: 28px;
    padding-left: 0;
}

.obgd {
    background: #ffffff;
    font-size: 12px;
    padding: 1px;
    border-radius: -3px;
    margin-right: 9px;
    padding-left: 6px;
    padding-right: 6px;
    font-weight: 600;
}

.catadc {
    background: #e8e8e878;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 1rem;
    line-height: 1.25em;
    font-weight: 500;
    color: #5f5f5f;
    margin-bottom: 22px;
}

.optadd {
    display: flex;
    border: 1px solid rgb(204 197 197);
    border-radius: 4px;
    font-weight: 500;
    width: 105px;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    text-align: center;
    height: 46px;
    font-weight: 500;
    font-size: 18px;
}

.arealoader {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 86vh;
}

.img-item {
    height: 355px;
    background-repeat: no-repeat;
    background-size: 150% 150%;
    border-radius: 10px;
    background-position: center;
    margin-top: 27px;
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(13px);
    filter: blur(33px);
}

.img-item-prod {
    height: 454px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border-radius: 0;
    position: relative;
    margin-top: -381px;
}

.clsqw {}

.img-prod-mobile {
    display: none;
}

.btCloseMobile {
    display: none;
}

.carcara {
    padding: 40px;
    border-bottom: none;
}

.aabtsds {
    display: flex;
}

.btaddcCell {
    margin-left: 5px;
}

.pik {
    margin: 10px;
    background: #ffffffa8;
    color: black;
}

.style23 {
    position: absolute;
    z-index: 1;
    margin: 44px;
    margin-left: 2px;
}

@media (max-width:600px) {

  .ffo[_ngcontent-yck-c134] {
     border-top: none;
}


    .styleGuinhoa {
        /*margin-top: -41.1%;*/
    }
    .img-prod-mobile {
        display: block;
        height: 333px;
    }
    .img-item-prod {
        height: 290px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        border-radius: 0;
        position: relative;
        margin-top: 0px;
        background-position-y: top;
    }
    .ffo {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-bottom: 30px;
    }
    .btCloseMobile {
        display: block;
    }
    .carcara {
        padding: 0px;
        border-bottom: 1px solid #f1e8e8;
    }
    .aitensadc {
        max-height: auto;
    }
    .btCloseMobile {
        display: none;
    }
    .btaddcCell {
        margin: auto;
        width: 71%;
        height: 51px;
        font-size: 18px;
    }
    .aabtsds {
        display: flex;
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
        gap: 8px;
    }
    .optadd {
        height: 54px;
    }
}
