.cc0 {
    min-height: 85%;
    overflow: auto;
    max-height: 99%;
}

.ffo {
    padding-top: 20px;
    border-top: 1px solid #f5eded;
    text-align: end;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    justify-content: flex-end;
}

.boxoc {
    margin-top: 20px;
}

.example-full-width {
    width: 96%;
    margin-left: 10px;
}

.itemadc {
    display: flex;
    padding: 8px;
    justify-content: space-between;
    margin-top: 2px;
    padding-bottom: 3px;
    padding-top: 0px;
    margin-bottom: 28px;
    padding-left: 0;
}

.catadc {
    margin-top: 22px;
    color: #727277;
    background: #e8e8e8;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 1rem;
    line-height: 1.25em;
    font-weight: 500;
    color: #3f3e3e;
}

.optadd {
    display: flex;
    border: 1px solid rgb(204 197 197);
    border-radius: 4px;
    font-weight: 500;
    width: 105px;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    text-align: center;
    height: 46px;
    font-weight: 500;
    font-size: 18px;
}

.arealoader {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 86vh;
}

.img-item {
    height: 355px;
    background-repeat: no-repeat;
    background-size: 150% 150%;
    border-radius: 10px;
    background-position: center;
    margin-top: 27px;
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(13px);
    filter: blur(33px);
}

.img-item-prod {
    height: 454px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border-radius: 0;
    position: relative;
    margin-top: -381px;
    border: 2px solid #ffffff37;
}

.clsqw {}
