<div class="col-sm-12 mp0R mp0L" style="padding-bottom: 50px;">

    <div class="arealoader" *ngIf="!statusLoader">
        <mat-spinner></mat-spinner>
    </div>



    <div class="row mp0R mp0L carcara" *ngIf="statusLoader">

        <div class="col-sm-6 mp0R mp0L hiddenEl">
            <div style="background-color: rgb(244, 236, 236)(244, 236, 236);" [lazyLoad]="itemCatalogo.imagem" class="img-item">
            </div>
            <div [lazyLoad]="itemCatalogo.imagem" class="img-item-prod"></div>
        </div>

        <div class="col-sm-12 mp0R mp0L btCloseMobile" style="text-align: end;">
            <button routerLink="/" mat-icon-button>
            <mat-icon>close</mat-icon>
          </button>
        </div>

        <!--img mobile-->
        <div class="col-sm-6 mp0R mp0L img-prod-mobile">
            <div [lazyLoad]="itemCatalogo.imagem" class="img-item-prod"></div>
        </div>
        <!--img mobile-->


        <div class="col-sm-6 clsqw mp0R mp0L" style="background: white;">
            <div style="display: flex;justify-content: space-between;align-items: center;">
                <div style="font-size: 18px; font-weight: 500;margin-left: 10px;"> {{ itemCatalogo.nome }} </div>
                <div class="hiddenEl">
                    <button routerLink="/" mat-icon-button>
            <mat-icon>close</mat-icon>
          </button>
                </div>
            </div>

            <div class="cc0">

                <div style="margin-top: 30px; color: #505050;margin-left: 10px; font-size: 14px;">
                    {{ itemCatalogo.descricao }}
                </div>
                <div style="margin-top: 20px;font-weight: 500;margin-left: 10px">
                    {{ itemCatalogo.preco | currency:'BRL':true }}
                </div>
                <span *ngFor="let item of itemCatalogo.categoriaadicional">
          <div *ngIf="item.status === true">
            <div class="catadc"> {{ item.nome }} </div>
            <div class="itemadc" *ngFor="let adicional of item.itens">
              <div>
                <div style="color: rgb(110, 110, 110);margin-left: 10px">{{ adicional.nome }}</div>
                <div style="margin-left: 10px;font-size: 13px;">{{ adicional.preco | currency:'BRL':true }}</div>
              </div>
              <div>

                <mat-chip-list>
                  <mat-chip *ngIf="adicional.qnt > 0" style="background-color: white;"
                    (click)="onclickRemoveAdc(adicional, item)">
                    <mat-icon style="background-color: white;" color="warn">remove</mat-icon>
                  </mat-chip>
                  <mat-chip style="background-color: white;" *ngIf="adicional.qnt > 0"> {{ adicional.qnt }} </mat-chip>
                  <mat-chip style="background-color: white;" (click)="onclickAddAdc(adicional, item)">
                    <mat-icon style="background-color: white;" color="warn">add</mat-icon>
                  </mat-chip>
                </mat-chip-list>

              </div>
            </div>


          </div>
        </span>
                <div class="boxoc">
                    <mat-form-field class="example-full-width">
                        <mat-label> Alguma observação?</mat-label>
                        <textarea style="height: 70px; max-height: 200px;" #observacaoUsuario matInput placeholder="Ex. Digite aqui a observação para o produto..."></textarea>
                    </mat-form-field>
                </div>

            </div>

        </div>
        <div class="col-sm-12 mp0R mp0L">
            <div class="ffo">
                <!--<button mat-stroked-button color="warn" routerLink="/" style="margin-right: 10px;">Cancelar</button>-->

                <div style="display: flex;">

                    <div class="optadd" *ngIf="showBTAddMoreItem">
                        <button mat-icon-button (click)="onclickAltQntSUB()">
              <mat-icon>remove</mat-icon>
            </button>
                        <div> {{ itemCatalogo.qnt }} </div>
                        <button mat-icon-button (click)="onclickAltQntADD()">
              <mat-icon>add</mat-icon>
            </button>
                    </div>


                    <button mat-raised-button color="primary" style="margin-left: 20px;" (click)="onclickAddCar(observacaoUsuario.value)">
            <mat-icon>add_shopping_cart</mat-icon> {{ itemCatalogo.total | currency:'BRL':true }} Adicionar
          </button>
                </div>

            </div>
        </div>
    </div>
</div>
