<mat-card class="carda">
    <div class="g2">
        <button mat-icon-button color="primary">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    </div>
    <div class="hu">
        <div class="af">
            Informe o seu e-mail ou número de celular para continuar
        </div>

        <mat-form-field class="input">
            <mat-label> Email ou telefone </mat-label>
            <input matInput placeholder="">
        </mat-form-field>

        <div>
            <button class="btc" mat-flat-button color="warn" routerLink="/registration/code">Continuar</button>
        </div>
    </div>



</mat-card>
