<mat-card class="carda">
    <div class="g2">
        <button mat-icon-button color="primary" routerLink="/">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    </div>
    <div class="hu">
        <div class="af">
            Informe seu número de celular para continuar
        </div>

        <mat-form-field class="input">
            <mat-label> Telefone </mat-label>
            <input matInput placeholder="" #input mask="(00)00000-0000">
        </mat-form-field>

        <div>
            <button class="btc" mat-flat-button color="warn" (click)="onClickConfirm(input.value)">Continuar</button>
        </div>
    </div>



</mat-card>
