.imgcaroudist {
    width: 422px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 422px 200px;
    border-radius: 2%;
}

.imgcarou {
    width: 123px;
    height: 93px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 123px 93px;
    border-radius: 2%;
}

.dist {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.loja:hover {
    border: 1px solid #a5a5a5c2;
}

.loja {
    border: 1px solid #e5e3e3c2;
    width: 400px;
    display: grid;
    grid-template-columns: 0fr 1fr;
    gap: 5px;
    padding: 10px;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    text-decoration: none;
    color: #2196F3;
}

.areaStores {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.logoStore {
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px 80px;
    border-radius: 50%;
}

.desc2 {
    font-size: 12px;
    color: rgb(124, 124, 124);
}

.desc1 {
    font-weight: 600;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.desc3 {
    margin-top: 20px;
    color: rgb(124, 124, 124);
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.logo {
    padding-left: 10px;
}

.descricao {
    border-left: 1px solid #e4e4e4;
    padding-left: 15px;
    margin-left: 15px;
}

.d {
    font-size: 18px;
    font-weight: 600;
    padding-left: 20px;
    margin-top: 20px;
}

.too {
    height: 80px;
    background-color: var(--gray-dark);
    display: grid;
    align-items: center;
    grid-template-columns: 1.2fr 1fr;
    position: fixed;
    z-index: 10;
}

.t1 {
    display: grid;
    grid-template-columns: 1.2fr 3fr 1fr;
    align-items: center;
    padding-right: 10px
}

.t2 {
    text-align: end;
}

.ender {
    text-align: center;
    padding-left: 10px;
    color: white;
}

.iseff {
    height: 55px;
    background: #00000000;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding-left: 15px;
}

.a {
    margin-top: 44px;
}

.gg {
    color: #b19919;
}

.afot {
    padding: 50px;
}

.fot {
    display: grid;
    grid-template-columns: 0fr 1fr;
    gap: 20px;
    font-size: 15px;
    align-items: center;
    align-content: center;
    text-align: left;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #e6e2e2;
    color: #777777;
}

.fotDeac {
    font-size: 12px;
    color: darkgrey;
}

.itemClosed {
    /* position: absolute; */
    background: #00000094;
    height: 100%;
    display: grid;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    font-weight: 600;
    color: white;
}

.showDESC {
    display: block;
}

.showCELL {
    display: none;
}

.icProm {
    background: red;
    font-size: 12px;
    position: absolute;
    color: white;
    padding: 5px;
}

.dddsa {
    background: #e20f00;
    width: 62px;
    color: white;
    padding: 3px;
    border-radius: 3px;
    text-align: center;
    float: right;
    margin-top: -16px;
}

@media (max-width:600px) {
    .areaStores {
        grid-template-columns: 1fr;
    }
    .showDESC {
        display: none;
    }
    .showCELL {
        display: block;
    }
    .pindow {
        display: grid;
        border-radius: 0px;
        width: 99.7%;
        margin: auto;
        margin-top: 0px;
    }
    .htcont {
        height: 81vh;
    }
    .too {
        background-color: white;
        grid-template-columns: 5.2fr 1fr;
    }
    .ender {
        color: var(--dark);
    }
    .loja {
        width: 100%;
        margin-top: 11px;
    }
    .df {
        display: none;
    }
}