.c0 {
    height: 100vh;
}

.c1 {}

.c2 {}

.c3 {
    align-items: center;
    align-content: center;
    display: grid;
    height: 100%;
    justify-content: center;
}

.aimg {
    padding-top: 18px;
}

.imglogo {
    width: 60px;
    border-radius: 10px;
}

.all {
    background-color: #3F51B5;
}

@media(max-width: 600px) {
    .all {
        background-color: #3F51B5;
    }
}
