.c0 {
    height: 100vh;
}

.c1 {}

.c2 {}

.c3 {
    align-items: center;
    align-content: center;
    display: grid;
    height: 100%;
    justify-content: center;
}

.aimg {
    padding-top: 18px;
}

.imglogo {
    width: 60px;
    border-radius: 10px;
}

.all {
    background-color: #fafafd;
    background-image: url('../../../assets/images/others/bg2.png');
}

@media(max-width: 600px) {
    .all {
        background: white;
    }
    .modoCELL1 {
        border: none;
        box-shadow: none;
    }
    .c3 {
        align-content: center;
    }
    .c0 {
        height: 1vh;
    }
}