<div class=" col-sm-12">
    <h1>Avaliações</h1>
</div>
<div class="c2 col-sm-12">
    4,8 127 avaliações para O Rei do Caldo Juazeir
</div>

<div class="item-assessment col-sm-12" *ngFor="let item of itens">
    <div class="item-assessment-1 col-sm-12">Iago Delsuc</div>
    <div class="item-assessment-2 col-sm-12">
        <div class="cor1"> 4,8</div>
        <div>
            <mat-icon class="cor1">star</mat-icon>
            <mat-icon class="cor1">star</mat-icon>
            <mat-icon class="cor1">star</mat-icon>
            <mat-icon class="cor1">star</mat-icon>
            <mat-icon class="cor1">star</mat-icon>
        </div>
        <div>16/06/2020</div>


    </div>
    <div class="item-assessment-3 col-sm-12">Entrega super rápida</div>
    <div class="item-assessment-4 col-sm-12">
        <div> Resposta - Açaí Concept</div>
        <div>
            <div class="item-assessment-5 col-sm-12">Agradecemos pela sua avaliação!!!</div>
        </div>

    </div>
</div>
