<div class=" col-sm-12 mp0R mp0L">
    <h1>Avaliações</h1>
</div>
<div class="c2 col-sm-12 mp0R mp0L">
    {{ service.getDadosEmpresa().nota.nota }} ({{ service.getDadosEmpresa().nota.totalavals }}) avaliações para {{ service.getDadosEmpresa().nome }}
</div>

<div class="item-assessment col-sm-12 " *ngFor="let item of itens">
    <div class="item-assessment-1 col-sm-12">
        {{ item.nome }}
        <ngx-skeleton-loader animation="pulse" *ngIf="!item.nome"></ngx-skeleton-loader>
    </div>
    <div class="item-assessment-2 col-sm-12">
        <div class="cor1">
            {{ item.nota }}
            <ngx-skeleton-loader animation="pulse" *ngIf="!item.nome"></ngx-skeleton-loader>
        </div>
        <div>
            <ngx-skeleton-loader animation="pulse" *ngIf="!item.nome"></ngx-skeleton-loader>
            <span *ngIf="item.nome">
            <mat-icon class="cor1" *ngFor='let in of counter(item.nota) ;let i = index'>star</mat-icon>
          </span>
        </div>
        <div> </div>


    </div>
    <div class="item-assessment-3 col-sm-12"> {{ item.texto }} </div>
    <div class="item-assessment-4 col-sm-12">
        <div *ngIf="item.resposta">
            <span *ngIf="item.nome" class="cpow">Resposta -</span>
            <ngx-skeleton-loader animation="pulse" *ngIf="!item.nome"></ngx-skeleton-loader>
            <span *ngIf="item.nome">{{ service.getDadosEmpresa().nome }}</span>
        </div>
        <div>
            <div *ngIf="item.resposta" class="item-assessment-5 col-sm-12">
                {{ item.resposta }}
                <ngx-skeleton-loader animation="pulse" *ngIf="!item.nome"></ngx-skeleton-loader>
            </div>
        </div>

    </div>
</div>