<div class="col-sm-12 a-it mp0L mp0R">
    <div class="row mp0L mp0R">
        <div class="col-sm-12 mp0L mp0R">
            <div class="col-sm-12 aa mp0L mp0R">
                <div>Pedido #{{ data.id }} </div>
                <div>
                    <button mat-icon-button mat-dialog-close>
                  <mat-icon>close</mat-icon>
                </button>
                </div>
            </div>
            <!--hitorico-->
            <div class="col-sm-12 item-hist" *ngFor="let item of data.historico">
                <div>{{ item.nome }}</div>
                <div> {{ item.info }}</div>
            </div>
            <!--hitorico-->
            <!--nota-->
            <div class="col-sm-12 mp0L mp0R">

                <div class="col-sm-12 pay" *ngFor="let fp of data.formaspagamento">
                    <div>Método de pagamento</div>
                    <div> {{ fp.nome }}/{{ fp.valor | currency:'BRL':true }} </div>
                </div>
                <div class="col-sm-12 type">
                    <div>Tipo pedido</div>
                    <div> {{ data.tipopedido }} </div>
                </div>
                <div class="col-sm-12 ii"> Itens </div>
                <!--itens-->
                <div class="col-sm-12">
                    <div class="col-sm-12 itens" *ngFor="let item of data.itens">
                        <div style="font-weight: 600;"> {{ item.qnt }}x {{ item.nome }} </div>
                        <div *ngFor="let adc of item.adicionais" style="    color: rgb(78, 78, 78);
                        display: flex;
                        justify-content: space-between;">
                            <div> {{ adc.qnt }}x {{ adc.nome }} </div>

                            <div> {{ item.total | currency:'BRL':true }} </div>
                        </div>
                        <!--itens-->
                        <div class="col-sm-12 pay xc mp0L mp0R">
                            <div>Subtotal</div>
                            <div> {{ data.subtotal | currency:'BRL':true }} </div>
                        </div>
                        <div class="col-sm-12 pay xc mp0L mp0R">
                            <div>Descontos</div>
                            <div> {{ data.desconto | currency:'BRL':true }} </div>
                        </div>
                        <div class="col-sm-12 pay xc mp0L mp0R">
                            <div>Entrega</div>
                            <div> {{ data.taxaentrega | currency:'BRL':true }} </div>
                        </div>
                        <div class="col-sm-12 pay it xc mp0L mp0R">
                            <div> Total </div>
                            <div> {{ data.total | currency:'BRL':true }} </div>
                        </div>
                    </div>
                    <!--nota-->
                </div>
            </div>