<div class="col-sm-12" style="margin-bottom: 30px;margin-top: 50px;">
    <button mat-raised-button color="primary" (click)="addAddress()"> <mat-icon>add</mat-icon> Adicionar endereço</button>
</div>


<div class="col-sm-12 item" *ngFor="let item of itens">
    <div class="nn"> Nome do endereço: {{ item.nome_endereco }} </div>
    <div class="bn"> {{ item.cidade.nome }}-{{ item.bairro.nome }} </div>
    <div class="bn"> {{ item.rua }}, {{ item.numero }} </div>
    <div class="bn">Referência: {{ item.tiporesidencia }} </div>
    <div class="bn">Complemento: {{ item.complemento }} </div>
    <div style="margin-top: 20px;">
        <button [disabled]="statusbt" (click)="onRemoverEndereco(item)" mat-raised-button> <mat-icon>delete</mat-icon>  Remover </button>
    </div>
</div>