.item {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e8e8e8;
}

.nn {
    font-weight: 500;
    color: #4c4c4c;
}

.bn {
    font-size: 12px;
}

.mat-focus-indicator {}