<div class="logo"></div>

<div class="a">
    <div class="b">
        <div class="sdasd">
            <button mat-icon-button color="warn" routerLink="/entrar">
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
        </div>
        <div class="d">
            Insira seu telefone
        </div>
        <div class="c">
            <div> <input class="in" placeholder="Telefone" type="tel" mask="(00)00000-0000"> </div>
            <div style="font-size: 12px;text-align: center;color: #8f8f8f;">
                Enviaremos um SMS com os dados da sua conta para o seu telefone
            </div>
            <div style="margin-top: 20px;">
                <button style="width: 100%;" mat-raised-button color="primary">Enviar</button>
            </div>
        </div>


        <div style="margin-top: 20px;">
            <button mat-button color="warn" routerLink="/registration"> Cadastre-se </button>
        </div>
    </div>
</div>