<mat-card class="carda">
    <div class="g2">
        <button mat-icon-button color="primary">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    </div>
    <div class="hu">
        <div class="af">
            Informe o código que você recebeu em seu ?????
        </div>

        <div style="display: grid; align-items: center;">
            <mat-form-field class="guinho">
                <mat-label>Nome completo</mat-label>
                <input matInput placeholder="Ex. Delsuc">
            </mat-form-field>

            <mat-form-field class="guinho">
                <mat-label> Telefone </mat-label>
                <input matInput placeholder="Ex.  (99)9.9999-9999">
            </mat-form-field>

            <mat-form-field class="guinho">
                <mat-label> Email </mat-label>
                <input matInput value="email@hotmail.com" disabled>
            </mat-form-field>

            <div style="margin-top: 20px;    font-size: 12px;">
                Concordo com os <span style="color: rgb(170, 16, 16);"><b>Termos de uso e Diretrize de privacidade</b></span>
            </div>

        </div>


        <div>
            <button class="btc" mat-flat-button color="warn" routerLink="/registration/code">Continuar</button>
        </div>

        <div style="margin-top: 20px; font-weight: 500;">
            Ja tem uma conta? <button mat-button color="warn" (click)="entrar()"> Entrar </button>
        </div>
    </div>



</mat-card>
