<mat-card class="carda">
    <div class="g2">
        <button mat-icon-button color="primary" routerLink="">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    </div>
    <div class="hu" [formGroup]="form">
        <div class="af">
            Cadastrar
        </div>

        <div style="display: grid; align-items: center;">
            <mat-form-field class="guinho">
                <mat-label>Nome completo</mat-label>
                <input matInput placeholder="Ex. Delsuc" formControlName="nome">
            </mat-form-field>

            <mat-form-field class="guinho">
                <mat-label> Senha </mat-label>
                <input matInput placeholder="****" type="password" formControlName="senha">
                <mat-hint> <span style="font-size: 12px; color:red;"> Mínimo de 6 dígitos </span> </mat-hint>
            </mat-form-field>

            <mat-form-field class="guinho">
                <mat-label> Confirmar senha </mat-label>
                <input matInput placeholder="****" type="password" formControlName="csenha">

            </mat-form-field>

            <mat-form-field class="guinho" *ngIf="userServ.getTypeReg() === 'email'">
                <mat-label> Email </mat-label>
                <input matInput [value]="userServ.getDataUserEmail()" disabled>
            </mat-form-field>

            <mat-form-field class="guinho" *ngIf="userServ.getTypeReg() === 'phone'">
                <mat-label> Telefone </mat-label>
                <input matInput [value]="userServ.getDataUserPhone()" disabled>
            </mat-form-field>

            <div style="margin-top: 20px;    font-size: 12px;">
                Concordo com os <span style="color: rgb(170, 16, 16);">
                <a href="javascript:;" style="text-decoration: none;" ><b>Termos de uso e diretrizes de privacidade</b></a>
                </span>
            </div>

        </div>


        <div>
            <button [disabled]="statusbt" class="btc" mat-flat-button color="warn" (click)="done()"> Cadastrar </button>
        </div>

        <!--<div style="margin-top: 20px; font-weight: 500;">
            Ja tem uma conta? <button mat-button color="warn" (click)="entrar()"> Entrar </button>
        </div>-->
    </div>



</mat-card>
