.nr {
    font-size: 18px;
}

.nr1 {
    font-size: 13px;
    color: rgb(117, 117, 117);
}

.ma {
    height: 50px;
    width: 50px;
    background-image: url('../../../assets/images/others/map2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-right: 10px;
}

.story {
    background-image: url('../../../assets/images/others/merchant.jpg');
}

.icmap {
    font-size: 50px;
    color: gold;
}

.c1 {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-top: 20px;
    justify-content: space-between;
}

.btcon {
    height: 45px;
    width: 100%;
}

.ggf {
    margin-top: 13px;
    font-weight: 500;
    color: #795548;
}

.itefp {
    margin: 10px;
    width: 97%;
    text-align: left;
    height: 55px;
}

.pa {
    background: #fafafa;
    border: 1px solid #e4e0e0;
    padding-bottom: 10px;
}

.po {
    font-size: 15px;
    font-weight: 500;
    padding-top: 10px;
    margin-top: 10px;
}

.pi {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-top: 1px solid #e6dfdf;
    padding-top: 10px;
    align-items: center;
}

.pw {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #585854;
    font-weight: 400;
}

.yy {
    margin-top: 35px;
    padding-top: 35px;
    border-top: 1px solid rgb(249 231 231);
}

.ny {
    margin-top: 6px;
    color: #795548;
}