.styleobs {
    margin: 29px;
    width: 100%;
    height: 50px;
    padding: 8px;
    background: #ebf1f1;
    border: 1px solid #e2dede;
    border-radius: 5px;
    font-size: 12px;
}

.nr {
    font-size: 18px;
}

.nr1 {
    font-size: 13px;
    color: rgb(117, 117, 117);
}

.ma {
    height: 50px;
    width: 50px;
    background-image: url('../../../assets/images/others/map2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-right: 10px;
}

.story {
    background-image: url('../../../assets/images/others/merchant.jpg');
}

.icmap {
    font-size: 50px;
    color: gold;
}

.c1 {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-top: 20px;
    justify-content: space-between;
}

.btcon {
    height: 45px;
    width: 100%;
}

.ggf {
    margin-top: 13px;
    font-weight: 500;
    color: #795548;
}

.itefp {
    margin: 10px;
    width: 97%;
    text-align: left;
    height: 55px;
}

.pa {
    background: #f9f9f9;
    border: 1px solid #e4e0e0;
    padding-bottom: 10px;
    margin: 15px;
    width: 96.6%;
    border-radius: 10px;
}

.po {
    font-size: 15px;
    font-weight: 500;
    padding-top: 10px;
    margin-top: 10px;
}

.pi {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-top: 1px solid #e6dfdf;
    padding-top: 10px;
    align-items: center;
}

.pw {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #585854;
    font-weight: 400;
}

.yy {
    margin-top: 35px;
    padding-top: 35px;
    border-top: 1px solid rgb(249 231 231);
}

.ny {
    margin-top: 6px;
    color: #795548;
    font-size: 12px;
}

.ityorder {
    border: 1px solid #cccccc8f;
    border-radius: 4px;
    margin-top: 10px;
    min-height: 136px;
}

.itemSelectT {
    height: 28px;
    width: 29px;
    background-color: #4CAF50;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: absolute;
    border-radius: 12px;
    color: white;
    margin-top: 0px;
    margin-left: -16px;
    z-index: 1;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.itemSelectTOFF {
    background-color: #b9bdb9;
}

.aia {
    text-decoration: none;
}

.btFiado {
    background-color: rgb(134, 133, 133);
    display: none;
}

.abiso {
    margin: 18px;
    margin-top: 1px;
    background: #ffeb3b;
    padding: 10px;
    color: #000000;
    border: 1px solid #f3f3f3;
    border-radius: 8px;
    font-size: 13px;
    width: 100%;
    text-align: center;
}

@media (max-width:600px) {
    .styleobs {
        margin-right: 18px;
    }
    .abiso {
        margin-left: 11px;
        margin-right: 3px;
    }
}