<div class="col-sm-12" style="padding-bottom: 50px;">
    <div class="col-sm-12" style="padding: 10px;">
        <a style="text-decoration: none;" mat-button href="javascript:;" routerLink="/">Início</a> /
        <a style="text-decoration: none;" mat-button href="javascript:;" color="primary">Finalizar pedido</a>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-12" style="padding-top: 15px;">
            <h1 style="font-weight: 500;"> Finalize seu pedido </h1>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-12" style="height: 220px;">
                    <mat-tab-group mat-align-tabs="start">

                        <mat-tab label="Entrega">

                            <div class="col-sm-12 c1">
                                <div class="" style="display: flex;    align-items: center;">
                                    <div class="ma">
                                        <!--<mat-icon class="icmap">map</mat-icon>-->
                                    </div>
                                    <div>
                                        <div class="nr">Rua Canada, 83</div>
                                        <div class="nr1">Casa - Juazeiro/BA</div>
                                    </div>
                                </div>
                                <div>
                                    <button mat-stroked-button color="primary">
                    <mat-icon>loop</mat-icon>
                    Trocar
                  </button>
                                </div>
                            </div>

                            <div class="col-sm-12 ggf">
                                Estimativa de entrega, 50 - 60 minutos
                            </div>
                        </mat-tab>

                        <mat-tab label="Retirada">

                            <div class="col-sm-12 c1">
                                <div class="" style="display: flex;    align-items: center;">
                                    <div class="ma story">
                                        <!--<mat-icon class="icmap">map</mat-icon>-->
                                    </div>
                                    <div>
                                        <div class="nr">Rua Canada, 83</div>
                                        <div class="nr1">Casa - Juazeiro/BA</div>
                                    </div>
                                </div>

                            </div>

                        </mat-tab>
                    </mat-tab-group>
                </div>

                <div class="row">
                    <div class="col-sm-12" style="border-top: 1px solid rgb(249 231 231);; padding-top: 20px;margin-top: 5px;">
                        <h1 style="font-weight: 500;">Metodo de pagamento</h1>
                        <div class="row">

                            <div class="col-sm-5" style="text-align: center;" *ngFor="let item of service.getDadosEmpresa().formaspagamento">

                                <button mat-stroked-button class="itefp" color="primary" (click)="addFp(item)">
                                    <mat-icon class="mat-18">payments</mat-icon> {{ item.nome }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 pa">
                    <div class="po">Pagamentos em</div>
                    <div *ngIf="bagServ.getCarrinho().formasPagamento.length === 0" class="ny"> Você ainda não adicionou nenhuma forma de pagamento. </div>
                    <div *ngFor="let item of bagServ.getCarrinho().formasPagamento" class="pi">
                        <div class="pw">
                            <button mat-icon-button color="warn" (click)="bagServ.removeItemFp(item)">
                            <mat-icon>delete</mat-icon>
                          </button> {{ item.nome }} <span *ngIf="item.itemSelecionado"> / {{ item.itemSelecionado.nome }}</span>
                        </div>
                        <div> {{ item.valor | currency:'BRL':true }} </div>
                    </div>
                </div>

                <div class="col-sm-12 yy">
                    <button class="btcon" mat-raised-button color="warn" (click)="onClickFinalizarPedido()">Fazer pedido</button>
                </div>

            </div>

        </div>
    </div>


</div>
