<div class="col-sm-12" style="padding-bottom: 50px;">
    <div class="col-sm-12" style="padding: 10px;">
        <a style="text-decoration: none;" mat-button href="javascript:;" routerLink="/">Início</a> /
        <a style="text-decoration: none;" mat-button href="javascript:;" color="primary">Finalizar pedido</a>
    </div>
    <div class="col-sm-12 mp0R mp0L">
        <div class="col-sm-12 mp0R mp0L" style="padding-top: 15px;">
            <h1 style="font-weight: 500;"> Finalize seu pedido </h1>
        </div>

        <div class="row">
            <div class="col-sm-12  mp0L">
                <div class="col-sm-12" style="height: 220px;">

                    <div class="row">

                        <div class="col-sm-6">

                            <div class="col-sm-12 c1">
                                <div class="" style="display: flex;    align-items: center;">
                                    <div class="ma">
                                        <!--<mat-icon class="icmap">map</mat-icon>-->
                                    </div>
                                    <div>
                                        <div class="nr">

                                            <a href="javascript:;" *ngIf="!bagServ.getStatusEndereco()"> Escolha um endereço </a>
                                            <a href="javascript:;" *ngIf="bagServ.getStatusEndereco()">  {{ bagServ.getEnderecoEntrega().nome_endereco }} </a>

                                        </div>
                                        <div *ngIf="!bagServ.getStatusEndereco()" class="nr1"> Você ainda não informou seu endereço </div>
                                        <div *ngIf="bagServ.getStatusEndereco()" class="nr1">
                                            {{ bagServ.getEnderecoEntrega().rua }} - {{ bagServ.getEnderecoEntrega().cidade.nome }}
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-sm-12 ggf">
                                Estimativa de entrega, {{ service.getDadosEmpresa().tempoentrega }}
                            </div>
                            <div class="col-sm-12" style="margin-top: 10px;">
                                <button mat-flat-button color="warn" (click)="onClickPedidoEntrega()"> Pedido para entrega
                </button>
                            </div>

                        </div>


                        <div class="col-sm-6">

                            <div class="col-sm-12 c1">
                                <div class="" style="display: flex;    align-items: center;">
                                    <div class="ma story">
                                        <!--<mat-icon class="icmap">map</mat-icon>-->
                                    </div>
                                    <div>
                                        <div class="nr"> {{ service.getDadosEmpresa().rua }} , {{ service.getDadosEmpresa().numero }}</div>
                                        <div class="nr1">Loja - {{ service.getDadosEmpresa().bairro }}/{{ service.getDadosEmpresa().cidade }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-12" style="margin-top: 10px;">
                                <button mat-flat-button color="warn" (click)="bagServ.onclickRetiradaTipo()"> Pedido para retirada
                </button>
                            </div>

                        </div>

                    </div>


                </div>

                <div class="row">
                    <div class="col-sm-12 " style="border-top: 1px solid rgb(249 231 231); padding-top: 20px;margin-top: 5px;">
                        <h1 style="font-weight: 500;" style="margin-left: 15px;">Método de pagamento</h1>
                        <div class="row mp0R mp0L">

                            <div class="col-sm-3 mp0R mp0L" style="text-align: center;" *ngFor="let item of service.getDadosEmpresa().formaspagamento">

                                <button mat-stroked-button class="itefp" color="primary" (click)="addFp(item)">
                  <mat-icon class="mat-18">payments</mat-icon> {{ item.nome }}
                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 pa">
                    <div class="po">Pagamentos em</div>
                    <div *ngIf="bagServ.getCarrinho().formasPagamento.length === 0" class="ny"> Você ainda não adicionou nenhuma forma de pagamento. </div>
                    <div *ngFor="let item of bagServ.getCarrinho().formasPagamento" class="pi">
                        <div class="pw">
                            <button mat-icon-button color="warn" (click)="bagServ.removeItemFp(item)">
                <mat-icon>delete</mat-icon>
              </button> {{ item.nome }} <span *ngIf="item.itemSelecionado"> / {{ item.itemSelecionado.nome }}</span>
                        </div>
                        <div> {{ item.valor | currency:'BRL':true }} </div>
                    </div>
                </div>

                <div class="col-sm-12 yy">
                    <button [disabled]="statusBtenviar" class="btcon" mat-raised-button color="warn" (click)="onClickFinalizarPedido()">Fazer pedido</button>
                </div>

            </div>

        </div>
    </div>


</div>
