<div *ngIf="status" style="     background-color: #673ab7f2;
height: 100vh;
width: 100%;
position: absolute;
/* height: 100%; */
z-index: 10;
display: grid;
align-items: center;
align-content: center;
text-align: center;">

    <div style="    width: 10%;
    margin: auto;
    padding: 10px;
    background: #ffffff;
    border-radius: 51px;
    color: #ffc107;">
        <mat-progress-bar mode="buffer"></mat-progress-bar>
        <mat-icon class="mat-18">gesture</mat-icon>
        <mat-progress-bar mode="buffer"></mat-progress-bar>
    </div>


</div>
