<div class="col-sm-12 bMobile">
    <div class="row mp0R">


        <!--Col 1-->
        <div class="col-sm-8 mp0R">
            <!--Router inter-->
            <router-outlet></router-outlet>
            <!--Router inter-->
        </div>
        <!--Col 1-->

        <div class="col-sm-4 mp0L hiddenEl">
            <app-bag [autofix]="true" [showBtF]="service.getStatusBtbag()"></app-bag>
        </div>

        <!--<div class="bag-responsive">
            <app-bag [autofix]="true" [showBtF]="service.getStatusBtbag()"></app-bag>
        </div>-->

    </div>

</div>
