<div class="dfe">
    <div>Pagamento</div>

    <div>
        <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
    </div>
</div>
<div class="guina">
    <div>Total: {{ bagServ.getTotalCarrinho() | currency:'BRL':true }}</div>
    <div>Falta: <span> {{  bagServ.getTotalCarrinho() - bagServ.verificaFpsTotal() | currency:'BRL':true }} </span> </div>
</div>
<div style="max-height: 300px;overflow: auto;">
    <div class="item">
        <div>
            <div class="nonome">
                {{ data.nome }}

            </div>
            <div style="margin-top: 5px;">
                <mat-form-field class="inputfp" [formGroup]="form">
                    <mat-label> Valor a pagar </mat-label>
                    <input matInput placeholder="R$0,00" type="tel" formControlName="valor" mask="separator.2" thousandSeparator="." autocomplete="off">
                </mat-form-field>

                <mat-form-field class="inputfp" [formGroup]="form" style="margin-top:5px;" *ngIf="data.nome === 'Dinheiro'">
                    <mat-label> Troco para </mat-label>
                    <input matInput placeholder="R$0,00" type="tel" formControlName="troco" mask="separator.2" thousandSeparator="." autocomplete="off">
                </mat-form-field>
            </div>
            <div class="a-itens-pay" *ngFor="let item of data.itens">

                <div>
                    <mat-slide-toggle color="primary" (click)="itensFp(data, item)" [checked]="item.selecionado">{{ item.nome }}
                    </mat-slide-toggle>
                </div>
                <div class="item-pay" [lazyLoad]="item.imagem"></div>
            </div>
        </div>
    </div>

</div>

<div class="abt">
    <button [disabled]="statusBt" mat-flat-button color="primary" (click)="onClickConfirm(data)">Confirmar</button>
    <div style="font-size: 12px;">
        {{ data.descricao }}
    </div>
</div>