.item {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    background: #ffffff;
    margin-top: 3px;
    border: 1px solid #dad2d2;
    padding: 20px;
    color: black;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 8fr;
    align-items: center;
}

.inputfp {
    width: 100%;
}

.abt {
    text-align: end;
    padding-top: 20px;
    justify-content: space-between;
    display: flex;
}

.dfe {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-bottom: 18px;
    border-bottom: 1px solid #efe3e3;
}

.nonome {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 23px;
}
