.logo {
    width: 87px;
    height: 66px;
    background-position: center;
    background-size: 100%;
    margin-top: 9px;
    border-radius: 5px;
}

.capa {
    height: 45px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.c {
    align-items: center;
    border-bottom: 1px solid #e2dbdb;
    padding-bottom: 10px;
}

.c2 {
    font-size: 13px;
    color: #6d6d6d;
}

.c3 {
    font-size: 16px;
}

.c1a {}

.c1b {
    display: block;
    gap: 5px;
}

.example-spacer {
    flex: 1 1 auto;
}

.c1b {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.ccgion {
    display: flex;
    align-content: center;
}

.abtBag {
    display: none;
}

.showinMobile {
    display: none;
}

.tabbarbottomDelsuc {
    display: none;
}


/* Tela menor */

@media (max-width:600px) {
    .abtBag {
        display: block;
    }
    .logo {
        width: 60px;
        height: 60px;
        background-position: center;
        background-size: 100%;
        margin-top: 9px;
        border-radius: 55px;
        margin: auto;
        margin-top: -32px;
    }
    .showinMobile {
        display: block;
    }
    .bbmob {
        display: flex;
        margin-top: 10px;
        width: 100%;
        justify-content: space-evenly;
    }
    .tabbarbottomDelsuc {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        border-top: 1px solid #c1c1c1;
        height: 65px;
        z-index: 9;
        background: white;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .c {
        border-bottom: none;
    }
}