.logo {
    width: 87px;
    background-color: #f7f7f7;
    height: 66px;
    background-position: center;
    background-size: 100%;
    margin-top: 9px;
    border-radius: 5px;
}

.c {
    align-items: center;
    border-bottom: 1px solid #e2dbdb;
    padding-bottom: 10px;
}

.c2 {
    font-size: 18px;
    color: #6d6d6d;
}

.c3 {
    font-size: 16px;
}

.c1a {}

.c1b {
    display: block;
    gap: 5px;
}

.example-spacer {
    flex: 1 1 auto;
}

.c1b {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.ccgion {
    display: flex;
    align-content: center;
}

.abtBag {
    display: none;
}

.showinMobile {
    display: none;
}


/* Tela menor */

@media (max-width:600px) {
    .abtBag {
        display: block;
    }
    .logo {
        width: 87px;
        background-color: #f7f7f7;
        height: 66px;
        background-position: center;
        background-size: 100%;
        margin-top: 9px;
        border-radius: 5px;
        margin: auto;
        margin-top: 13px;
    }
    .showinMobile {
        display: block;
    }
    .bbmob {
        display: flex;
        margin-top: 10px;
        width: 100%;
        justify-content: space-evenly;
    }
}
