<div class="c col-sm-12">
    <div class="row" style="align-items: center;justify-content: space-between;">

        <div class="c1 col-sm-3">
            <div class="logo" [lazyLoad]="service.getDadosEmpresa().imagem"></div>
        </div>

        <div class="c1a col-sm-3" style="margin-top: 15px;">
            <div class="c2">Entregar em</div>
            <div class="ccgion">
                <a href="javascript:;" style="text-decoration: none;display: flex;color: black;" (click)="selectAddress()">
                    <mat-icon style="color: #da4444;font-size: 19px;">place</mat-icon>
                    <span *ngIf="!bagServ.getEnderecoEntrega().cidade.nome">Escolha um endereço</span>
                    <span *ngIf="bagServ.getEnderecoEntrega().cidade.nome"> {{ bagServ.getEnderecoEntrega().bairro.nome }} - {{ bagServ.getEnderecoEntrega().cidade.nome }} </span>
                    <mat-icon class="mat-18">expand_more</mat-icon>
                </a>
            </div>
        </div>

        <div class="c1b col-sm-3">
            <div class="">
                <a *ngIf="!service.getDadosUsuario().id" mat-button color="primary" (click)="onClickBt1()">
                    <mat-icon>login</mat-icon> Entrar </a>
                <a *ngIf="service.getDadosUsuario().id" mat-button color="primary" routerLink="/perfil-user">
                    <mat-icon>login</mat-icon> Perfil </a>
            </div>
            <div>
                <button mat-button color="primary" routerLink="/finish"><mat-icon>shopping_cart</mat-icon> Sacola </button>
            </div>
        </div>



    </div>

</div>
