<div class="col-sm-12 text-right">
    <button mat-icon-button color="warn" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="col-sm-12 text-center">
    <img style="width: 61px;margin-top: -35px;" src="../../../assets/images/others/map2.png" alt="">
</div>

<div class="col-sm-12" class="c1" *ngIf="service.getDadosUsuario().id">
    Onde quer receber seu pedido?
</div>

<div class="col-sm-12" class="c1" *ngIf="!service.getDadosUsuario().id">
    Bairros que entregamos
</div>



<div class="col-sm-12">



    <a href="javascript:;" style="text-decoration: none;">

        <button *ngIf="service.getDadosUsuario().id" class="btaddn" mat-flat-button color="warn" (click)="selectAddress()">
      Novo endereço </button>


        <mat-form-field class="example-full-width" style="margin-top: 25px;" [formGroup]="myControl" *ngIf="!service.getDadosUsuario().id">
            <mat-label> Filtrar bairro </mat-label>
            <input formControlName="filtroBairro" matInput placeholder="Digite aqui o nome do bairro" #filterBBB>
        </mat-form-field>

        <div class="col-sm-12" style="overflow: auto;
        height: 370px;">
            <div class="areaB" *ngIf="!service.getDadosUsuario().id">


                <span *ngFor="let city of service.getDadosEmpresa().locais_entrega">
          <div class="itemB" *ngIf="city.disponivel === true">
            <div style="display: flex;margin-bottom: 7px;">
              <mat-icon>place</mat-icon> <b> {{ city.nome }} </b>
            </div>
            <span *ngFor="let bairro of city.bairros | filterId:this.myControl.controls.filtroBairro.value">
               <div class="itemBfd" *ngIf="bairro.disponivel === true">
              <mat-icon>map</mat-icon> {{ bairro.nome }}
            </div>
            </span>

            </div>
            </span>

        </div>






        <div class="itemAddressuser" *ngFor="let item of service.getDadosUsuario().endereco" (click)="selectItemAddressuser(item)">



            <div class="itemAddressuser-c">
                <div>
                    <mat-icon>house</mat-icon>
                </div>
                <div>
                    <div class="itemAddressuser-a"> {{item.nome_endereco}} </div>
                    <div class="itemAddressuser-b"> {{item.rua}}, {{item.numero}}, {{item.bairro.nome}}, {{item.complemento}}
                    </div>
                </div>
            </div>
            <div>
                <button mat-icon-button color="primary">
            <mat-icon class="icR">chevron_right</mat-icon>
          </button>
                <!--   <mat-menu #menu="matMenu">
                    <button mat-menu-item> <mat-icon color="warn">edit</mat-icon> Editar </button>
                    <button mat-menu-item> <mat-icon color="warn">delete</mat-icon> Remover </button>
                </mat-menu>-->
            </div>
        </div>
</div>




</a>



</div>

<!--<div class="col-sm-12" style="margin-top: 20px;">
    <button class="btAD" mat-flat-button color="warn" (click)="setAddress()"> Pronto </button>
</div>-->