.c1 {
    color: #3e3e3e;
    font-size: 1.125rem;
    line-height: 22px;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
}

mat-form-field {
    width: 100%;
}

.btAD {
    height: 50px;
    width: 100%;
}

.itemAddressuser {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 13px;
    padding: 5px;
    padding-top: 13px;
    padding-bottom: 10px;
    justify-content: space-between;
    border: 1px solid #e8e1e1;
    border-radius: 10px;
    color: #524d4d;
    margin-bottom: 10px;
}

.itemAddressuser-a {
    font-weight: 500;
    font-size: 17px;
}

.itemAddressuser-b {
    font-size: 14px;
    color: rgb(83, 83, 83);
}

.itemAddressuser-c {
    display: flex;
    gap: 10px;
    align-content: center;
    align-items: center;
}

.icR {
    color: rgb(83, 83, 83);
}

.btaddn {
    margin-bottom: 10px;
    margin-top: 10px;
}

.itemBfd {
    background-color: #ffffff;
    padding: 5px;
    color: #564a46;
    margin-top: 1px;
    border-bottom: 1px solid #e0d3d3;
    font-weight: 540;
    display: flex;
    gap: 10px;
}

.img {
    width: 284px;
    margin-top: 0px;
}

@media (max-width:600px) {
    .img {
        width: 100%;
        margin-top: 0px;
    }
}