<div class="col-sm-12" id="contentbag" class="bag" [class.bagfixo]="servbag.statusBagFix">
    <div *ngIf="servbag.getQntItensCar() === 0">
        <div class="img_bag" [lazyLoad]="'./assets/images/others/bag.png'"></div>
        <div class="c1">Sua sacola está vazia </div>
        <div>Adicione itens</div>
    </div>

    <div *ngIf="servbag.getQntItensCar() > 0" class="col-sm-12 inbag">
        <div style="text-align: initial; color: #a5a5a5;"> Pedido </div>
        <div class="bsgin"> {{ service.getDadosEmpresa().nome }} </div>



        <div class="col-sm-12 a-itens-cart">
            <div class="col-sm-12 item-cart" *ngFor="let item of servbag.getItensCarrinho()">
                <div class="xj6">
                    <div class="item-cart-name">{{ item.qnt }}x {{ item.nome }}</div>
                    <div class="ppre">R${{ item.total }}</div>
                </div>
                <div *ngIf="item.observacao">
                    Observação: {{ item.observacao }}
                </div>
                <div>
                    <span class="item-cart-jus" *ngFor="let adicional of item.adicionais">
            {{ adicional.qnt }} {{ adicional.nome }},
            <!--<div> {{ adicional.nome }} </div>-->
            <!--<div> {{ adicional.preco | currency }} </div>-->
          </span>
                </div>
                <div style="text-align: left;">
                    <a mat-button href="javascript:;" color="warn" (click)="servbag.removeItemCar(item)">
                        Remover
                    </a>
                </div>

            </div>
        </div>

        <a href="javascript:;" style="text-decoration: none;">
            <div class="col-sm-12 item-cupom">

                <div style="display: flex;align-items: center;">

                    <div>
                        <mat-icon class="iccupom">wb_iridescent</mat-icon>
                    </div>

                    <div class="cupom-01">
                        <div class="cupom-02">Cupom</div>
                        <div class="cupom-03">Código de cupom</div>
                    </div>

                </div>

                <div>
                    <button mat-icon-button color="warn">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
                </div>
            </div>
        </a>


        <div class="col-sm-12 box-monis">
            <div> Subtotal </div>
            <div> R$ 6,90 </div>
        </div>

        <div class="col-sm-12 box-monis">
            <div> Taxa de entrega </div>
            <div> R$ 10,90 </div>
        </div>

        <div class="col-sm-12 box-monis ftotal">
            <div class=""> Total </div>
            <div> {{ servbag.getTotalCarrinho() | currency:'BRL':true }} </div>
        </div>

        <div class="col-sm-12 abto">
            <button *ngIf="showBtF" class="btbag" mat-flat-button color="warn" (click)="onClickBtCar()">Escolher forma de
        pagamento</button>
        </div>

    </div>


</div>
