.b {
    min-width: 70px;
    min-height: 70px;
    background-color: black;
}

.order {
    border-top: 1px solid #ececec;
    padding-top: 22px;
}

.status-order {
    text-align: left;
    padding: 3px;
    border-radius: 0px;
    color: black;
    font-weight: 600;
    margin-left: 12px;
    font-size: 13px;
}

.abt-order {
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
}

.avi {
    padding: 20px;
    background: #f7f7f7;
    font-size: 16px;
    border: 1px solid #e6dcdc;
    color: #757575;
    border-radius: 7px;
    text-align: center;
}

.face001 {
    width: 70px;
    height: 70px;
    background-size: 100%;
    background-image: url('../../../assets/images/gifs/face01.gif');
    margin: auto;
    background-repeat: no-repeat;
}