.b {
    min-width: 70px;
    min-height: 70px;
    background-color: black;
}

.order {
    border-top: 1px solid #ececec;
    padding-top: 22px;
}

.status-order {
    background-color: #e9e8ea;
    color: black;
    text-align: center;
    padding: 3px;
    border-radius: 4px;
}

.abt-order {
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
}
