<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-12">
            <div class="row order" style="align-items: center;" *ngFor="let item of orders">
                <div class="col-sm-3">
                    <img class="img img-fluid" src="../../../../../assets/images/others/logo.png">
                </div>
                <div class="col-sm-5">
                    <div class="col-sm-12 status-order"> Pedido aceito </div>
                    <div class="col-sm-12">17/12/2020 às 18:30</div>
                    <div class="col-sm-12">Nome da empresa</div>
                    <div class="col-sm-12">Valor pedido</div>
                </div>
                <div class="col-sm-4 abt-order">
                    <button color="primary" mat-raised-button> Ver pedido </button>
                </div>
            </div>
        </div>
    </div>
</div>
