<div class="logo"></div>

<div class="a">
    <div class="b">
        <div class="sdasd">
            <button mat-icon-button color="warn" routerLink="/lojas">
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
        </div>
        <div class="d">
            Insira os dados de sua conta
        </div>
        <div class="c">
            <div> <input class="in" placeholder="Email ou telefone" type="email" name="" id=""> </div>
            <div> <input class="in" placeholder="Digite sua senha" type="password" name="" id=""> </div>
            <div class="gabiel"> <a href="javascript:;" routerLink="/recuperar-cadastro">Esqueceu sua senha</a> </div>
            <div style="margin-top: 20px;">
                <button style="width: 100%;" mat-raised-button color="warn">Entrar</button>
            </div>
        </div>


        <div style="margin-top: 20px;">
            <button mat-button color="warn" routerLink="/registration"> Cadastre-se </button>
        </div>
    </div>
</div>