<app-toolbar-mult-lojas [pagina]="'/buscar-lojas'"></app-toolbar-mult-lojas>
<div class="a" [formGroup]="form">
    <div class="b">
        <div class="sdasd hCELL">
            <button mat-icon-button color="warn" routerLink="/lojas">
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
        </div>
        <div class="d">
            Insira os dados de sua conta
        </div>
        <div class="c">
            <div> <input (keydown.enter)="entrar()" formControlName="email" class="in" placeholder="Email ou telefone" type="email" name="" id=""> </div>
            <div> <input (keydown.enter)="entrar()" formControlName="senha" class="in" placeholder="Digite sua senha" type="password" name="" id=""> </div>
            <div class="gabiel"> <a href="javascript:;" routerLink="/recuperar-cadastro">Esqueceu sua senha</a> </div>
            <div style="margin-top: 20px;">
                <button style="width: 100%;" mat-raised-button color="warn" [disabled]="statusBt" (click)="entrar()">Entrar</button>
            </div>
        </div>

        <app-facebook></app-facebook>


        <div style="margin-top: 20px;">
            <button mat-button color="warn" routerLink="/registration"> Cadastre-se </button>
        </div>
    </div>
</div>
