<div class="col-sm-12">
    <div class="row">


        <div class="c col-sm-5">

            <div class="col-sm-12">
                <img class="logo" src="../../../assets/images/others/logo.png" alt="" srcset="">
            </div>

            <div class="col-sm-12">
                <h1>Seja bem vindo!</h1>
            </div>

            <div class="bo col-sm-12">

                <div class="col-sm-12" style="margin-top: 50px;">
                    <a href="javascript:;" class="yu">
                        <div class="botao-delsuc" (click)="selecionarEndereco()"> Selecionar endereço </div>
                    </a>
                </div>



            </div>

        </div>


        <div class="c2 col-sm-7">
            <div class="guin col-sm-12">

                <div class="col-sm-6">
                    <button mat-raised-button color="primary" (click)="login()">Entrar com minha conta</button>
                </div>
                <div class="col-sm-6" style="margin-top: 20px;">
                    <button mat-raised-button color="primary" (click)="recSenha()">Esqueci minha senha</button>
                </div>
            </div>
        </div>


    </div>
</div>
