<div class="a">
    <div class="b">
        <button mat-button>Vulto Empresas</button>
        <button mat-stroked-button style="color: white;">Entrar</button>
    </div>

    <div class="c">
        <div class="logo">
            <img style="width: 183px;" src="./assets/images/others/logo.png" alt="" srcset="">
        </div>
        <div class="d">
            Nunca foi tão fácil pedir comida saudável
        </div>
        <div class="e">Descubra restaurantes e mercados perto de você</div>


        <div class="f">
            <div class="g">
                <div class="input" (click)="seleionarEndereco()">
                    <mat-icon>search</mat-icon>
                    Buscar endereço
                </div>
                <div class="btSearh" (click)="seleionarEndereco()">
                    Buscar
                </div>

            </div>
        </div>



    </div>

</div>
