.a {
    height: 100vh;
    background: #f5f5f5;
    background-image: url('../../../assets/images/others/bg1.png');
}

.b {
    height: 60px;
    display: flex;
    padding-top: 10px;
    justify-content: flex-end;
    padding-right: 10px;
    gap: 50px;
}

.logo {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.d {
    font-size: 35px;
    text-align: center;
    font-weight: 600;
    color: black;
}

.e {
    font-size: 20px;
    text-align: center;
    color: black;
}

.input {
    background: beige;
    height: 60px;
    display: grid;
    align-items: center;
    width: 100%;
    border: 1px solid #edecec;
    border-radius: 6px;
    padding-left: 10px;
    color: #868585;
    grid-template-columns: 0fr 1fr;
    gap: 20px;
    font-size: 18px;
    /* -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77); */
    -moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow: 0px 1px 7px rgb(0 0 0 / 19%);
}

.btSearh {
    background: #dc2e21;
    height: 60px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    display: grid;
    align-items: center;
    text-align: center;
    width: 160px;
    border-radius: 5px;
}

.f {
    display: grid;
    justify-items: center;
}

.g {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 60%;
    margin-top: 40px;
}

.modoDESK {
    display: block;
}

@media (max-width:600px) {
    .modoDESK {
        display: none;
    }
    .g {
        width: 94%;
    }
    .a {
        background: #f9f9f9;
    }
}