<div class="a">
    <div class="b">
        <button class="eent" [disabled]="!this.servico.urlDashEmpresa" (click)="entrarDash()" mat-button>Vulto Empresas</button>
        <button class="eent" mat-stroked-button routerLink="/entrar">Entrar</button>
    </div>

    <div class="c">
        <div class="logo">
            <img style="width: 183px;" src="./assets/images/others/logo.png" alt="" srcset="">
        </div>
        <div class="d">
            Nunca foi tão fácil pedir <span style="font-weight: 600; color: gold;">delivery</span>
        </div>
        <div class="e">Descubra as lojas próximo a você ;)</div>


        <div class="f">
            <div class="g">
                <a href="javascript:;" class="input" (click)="seleionarEndereco()">
                    <mat-icon>search</mat-icon>
                    Buscar endereço
                </a>
                <span class="modoDESK">
                  <a href="javascript:;" class="btSearh" (click)="seleionarEndereco()">
                    Buscar
                </a>
              </span>


            </div>
        </div>



    </div>

</div>
