<div class="col-sm-12">

    <div class="row">

        <div style="margin-top: 127px;    margin: auto;">
            <span *ngIf="itens.length === 0">
        <div class="col-sm-12 av">
          Você ainda não tem nenhum cupom
        </div>
        <div class="col-sm-12 text-center">
          <img [src]="'../../../assets/images/others/cupom.png'">
        </div>
      </span>

        </div>



        <div class="col-sm-4" style="padding: 0;" *ngFor="let item of itens">
            <div class="item-cupom">
                <div class="col-sm-12 ga">
                    <div>
                        <mat-icon class="iccupom">wb_iridescent</mat-icon>
                    </div>
                    <div>
                        {{ item.valor | currency:'BRL':true }} cupom de desconto disponível
                    </div>
                </div>
                <div class="col-sm-12 pi">Válido para pedido acima de {{ item.pedido_min | currency:'BRL':true }} </div>
                <div class="col-sm-12 dows">
                    <div>
                        <button mat-flat-button color="warn" (click)="openCupom(item)">Ver regras</button>
                    </div>
                    <div>Válido até {{ item.datafim }}</div>
                </div>
                <div class="col-sm-12 sds">
                    O cupom será aplicado no pagamento
                </div>
            </div>
        </div>
    </div>

</div>
