<div class="col-sm-12">
    <div class="col-sm-12">
        <h1> Cupons </h1>
    </div>
    <div class="row">
        <div class="col-sm-4" style="padding: 0;" *ngFor="let item of itens">
            <div class="item-cupom">
                <div class="col-sm-12 ga">
                    <div>
                        <mat-icon class="iccupom">wb_iridescent</mat-icon>
                    </div>
                    <div>
                        R$ 5 Cupom de desconto disponível
                    </div>
                </div>
                <div class="col-sm-12 pi">Válido para pedido acima de R$ 15.</div>
                <div class="col-sm-12 dows">
                    <div>
                        <button mat-flat-button color="warn">Ver regras</button>
                    </div>
                    <div>Válido até 03/11</div>
                </div>
                <div class="col-sm-12 sds">
                    O cupom será aplicado no pagamento
                </div>
            </div>
        </div>
    </div>

</div>
