<div class="sty">
    <div class="tt">
        <mat-icon class="ic">phone</mat-icon> Contato
    </div>
    <div> {{ dadosEmpresa.telefone }} </div>
</div>

<div class="sty">
    <div class="tt">
        <mat-icon class="ic">av_timer</mat-icon> Estimativa de entrega
    </div>
    <div> {{ dadosEmpresa.tempoentrega }} </div>
</div>

<div class="tt">
    <mat-icon class="ic">query_builder</mat-icon> Horário de entrega
</div>

<span *ngFor="let item of dadosEmpresa.hrfun">
  <div class="b" *ngIf="item.abre && item.fecha" >

    <div> {{ item.nome }} </div>
    <div style="margin-left: 50px;" class="a">
      <span *ngIf="item.status === true || item.status === 'true'" > {{ item.abre }} às {{ item.fecha }}  </span>
<span *ngIf="item.status === false || item.status == 'false'" class="fch"> Fechado  </span>

</div>

</div>
</span>



<div class="tt">
    <mat-icon class="ic">credit_card</mat-icon> Formas de pagamento
</div>

<div class="col-sm-12" style="    padding-left: 0px;">
    <div class="afps" style="gap: 5px">
        <div class="" *ngFor="let item of dadosEmpresa.formaspagamento">
            {{ item.nome }}
            <div>
                <span *ngFor="let itemIn of item.itens">
                <div class="itemIn" *ngIf="itemIn.disponivel === true">
                    <img style="margin-right: 10px;" [src]="itemIn.imagem" width="40" srcset="">
                    {{ itemIn.nome }}
                </div>
              </span>

            </div>
        </div>
    </div>
</div>

<div class="sty">
    <div class="tt">
        <mat-icon class="ic">fact_check</mat-icon> Tipo de serviço
    </div>
    <div class="sty"> {{ dadosEmpresa.formasfuncionamento.nome }} </div>
</div>


<div class="sty">
    <div class="tt">
        <mat-icon class="ic">info</mat-icon> Outras informações
    </div>

    <div>
        {{ dadosEmpresa.rua }} , {{ dadosEmpresa.numero }}
    </div>

    <div>
        {{ dadosEmpresa.bairro }}
    </div>

    <div>
        CNPJ {{ dadosEmpresa.cpf }}
    </div>
</div>
