/* You can add global styles to this file, and also import other style files */

::root {
    --first: #673ab7;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    /*font-family: Roboto, "Helvetica Neue", sans-serif;*/
    /*font-family: 'Dancing Script', cursive;*/
    /*font-family: 'Open Sans Condensed', sans-serif;*/
    font-family: SulSans, Helvetica, sans-serif;
}

.cor1 {
    color: #f7af4f;
}

.mp0R {
    padding-right: 0px;
    margin-right: 0px;
}

.mp0L {
    padding-left: 0px;
    margin-left: 0px;
}

.ng-lazyloaded {
    animation: fadeinimg 3s;
}

.elementMobileShow {
    display: none;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}

::-webkit-scrollbar {
    width: 6px;
    background: #3b3b3b;
}

::-webkit-scrollbar-thumb {
    background: #6e6e6e;
}

@keyframes fadeinimg {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width:600px) {
    .bMobile {
        padding: 0px;
        margin: 0px;
    }
    .dad {
        padding-left: 10px;
        padding: 10px;
    }
    .hiddenEl {
        display: none;
    }
    .elementMobileShow {
        display: block;
    }
}
