<div *ngIf="itens.length === 0" class="col-sm-12 text-center" style="margin-bottom: 20px;">
    <img width="40px" [src]="'../../../assets/images/others/star.png'">
</div>

<div class="avi" *ngIf="itens.length === 0">
    Você ainda fez nenhuma avaliação
</div>

<div class="col-sm-12 item" *ngFor="let item of itens">

    <div class="col-sm-12 pp">
        <div class="nn"> {{ item.nome_empresa }} </div>
        <div class="nn"> {{ item.info }} </div>
    </div>


    <div class=""> <span class="rr">Resposta:</span> <i> {{ item.resposta }} </i> </div>
    <div class="ee"> {{ item.texto }} </div>
    <div class="col-sm-12 jj">
        <div> Nota {{ item.nota }} </div>
        <!--<a href="javascript:;" color="primary" mat-button> Editar </a>-->
    </div>
</div>
