<div class="avi" *ngIf="itens.length === 0">
    Você ainda fez nenhuma avaliação
</div>

<div class="col-sm-12 item" *ngFor="let item of itens">

    <div class="col-sm-12 pp">
        <div class="nn"> Nome empresa </div>
        <div class="nn"> 10/19/2020 </div>
    </div>


    <div class=""> <span class="rr">Resposta:</span> <i> Agradecemos pela sua avaliação! Volte sempre.</i> </div>
    <div class="ee"> Entrega ráida! Obrigado. </div>
    <div class="col-sm-12 jj">
        <div>Nota 4.5</div>
        <a href="javascript:;" color="primary" mat-button> Editar </a>
    </div>
</div>
