.item {
    margin-bottom: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e0dada;
    margin-top: 15px;
}

.nn {
    font-weight: 500;
    font-size: 15px;
}

.rr {
    font-weight: 600;
}

.ee {
    margin-top: 20px;
    color: #908f7d;
}

.pp {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}

.jj {
    text-align: end;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #af981b;
}
