<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="true" style="background-color: #F8F8F8;">
        <mat-toolbar class="ttool ttoll">

            <div class="logoEmpresa" [lazyLoad]="service.getDadosEmpresa().imagem"></div>

        </mat-toolbar>
        <!--<mat-toolbar *ngIf="!service.getDadosUsuario().email" class="ttool">
            <mat-icon class="cc">email</mat-icon>
            <span *ngIf="!service.getDadosUsuario().email">
              <button mat-flat-button color="warn">  Inserir email </button>
            </span> {{ service.getDadosUsuario().email }}
        </mat-toolbar>-->
        <mat-toolbar *ngIf="service.getDadosUsuario().tipo" class="ttool" style="text-transform: capitalize;">
            <mat-icon class="cc">face</mat-icon> {{ service.getDadosUsuario().tipo }}
        </mat-toolbar>
        <mat-toolbar class="ttool">
            <mat-icon class="cc">perm_identity</mat-icon> {{ service.getDadosUsuario().nome }}
        </mat-toolbar>
        <mat-toolbar class="ttool">
            <mat-icon class="cc">phone</mat-icon> {{ service.getDadosUsuario().telefone | mask:'(00)00000-0000'}}
            <span *ngIf="!service.getDadosUsuario().telefone">
                          <button mat-flat-button color="warn"> Inserir telefone </button>
                        </span>
        </mat-toolbar>

        <button mat-button style="display: none;" (click)="drawer.toggle()" id="btnav">sidenav.toggle()</button>


        <mat-nav-list>

            <mat-divider></mat-divider>


            <a mat-list-item class="itemsli" routerLink="/">
                <mat-icon class="cc">shopping_cart
                </mat-icon>
                Fazer pedido
            </a>

            <a mat-list-item class="itemsli" (click)="onClickMenu('/perfil-user/orders', 'Pedidos')">
                <mat-icon class="cc">shopping_bag</mat-icon>
                Meus pedidos
            </a>

            <a mat-list-item class="itemsli" (click)="onClickMenu('/perfil-user/cupons', 'Cupons')">
                <mat-icon class="cc">receipt</mat-icon>
                Meus cupons
            </a>

            <a mat-list-item class="itemsli" (click)="onClickMenu('/perfil-user/avals', 'Avaliações')">
                <mat-icon class="cc">star</mat-icon>
                Minhas avaliações
            </a>

            <a mat-list-item class="itemsli" (click)="onClickMenu('/perfil-user/adresses', 'Endereço')">
                <mat-icon class="cc">person_pin_circle</mat-icon>
                Endereços de entrega
            </a>

            <a mat-list-item class="itemsli" (click)="onClickMenu('/perfil-user/notifications', 'Notificações')">
                <mat-icon class="cc">notification_important</mat-icon>
                Notificações
            </a>

            <a mat-list-item class="itemsli" (click)="onClickMenu('/perfil-user/data', 'Perfil')">
                <mat-icon class="cc">contact_page</mat-icon>
                Meus dados
            </a>

            <a mat-list-item class="itemsli" (click)="onClickExit()">
                <mat-icon class="cc">power_settings_new</mat-icon>
                Sair
            </a>


        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary" class="toolb">
            <span> {{ tittle }} </span>
            <button type="button" aria-label="Toggle menu" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Menu">menu</mat-icon>
      </button>


        </mat-toolbar>
        <!-- Rotas internas do perfil -->
        <div class="col-sm-12" style="height: 90vh; overflow:auto;">
            <router-outlet></router-outlet>
        </div>
        <!-- Rotas internas do perfil -->

    </mat-sidenav-content>
</mat-sidenav-container>
