.btdel {
    margin-top: 5px;
}

.col1 {
    background-color: var(first);
}

.col2 {
    overflow: auto;
    height: 83vh;
    background: #fdfdfd;
    border-left: 1px solid #f3f3f3;
}

.title-col2 {
    padding-top: 10px;
    padding-bottom: 7px;
    font-weight: 600;
    position: fixed;
    z-index: 1;
    height: 48px;
    background: white;
    margin-left: -16px;
    border-bottom: 1px solid #f3f3f3;
}

.daus {
    display: flex;
    align-content: center;
    align-items: center;
    font-size: 12px;
    color: #777777;
    padding-top: 14px;
}

.bc {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 20px;
}

.cc {
    margin-right: 10px;
}

.guia {
    color: #464646;
}

.ttool {
    color: #3F51B5;
    font-size: 14px;
    padding-top: 2px;
    padding-bottom: 0;
    margin: 0;
    height: 40px;
    font-weight: 400;
}

.logoEmpresa {
    width: 52px;
    height: 52px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 9%;
    margin: auto;
}

.ttoll {
    text-align: center;
    align-items: center;
    align-content: center;
    margin-top: 13px;
    margin-bottom: 2px;
    padding-bottom: 10px;
    height: 44px;
}

.itemsli {
    color: #3e3e3e;
}